<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if @result.empty? %>
    <p>Sorry, no matches were found.</p>
  <% else %>
    <ul>
      <h2 class="content-subhead">Results for '<%= params[:query] %>'</h2>
      <% @result.each do |title, chapter_number| %>
        <li>
          <a href="/chapters/<%= chapter_number %>"><%= title %></a>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
