<form action="/<%= @file_name %>/edit" method="post">
  <label>Edit content of <%= @file_name %>:</label>
  <div>
    <textarea cols=60 rows=30 name="content"><%= @content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>

